.input-group-text{
    background-color: white;
    //border: none;
    border-right: none;
   // border: 2px solid black;
    box-shadow: 0px 2px lightgray;
    
    &:focus{
        box-shadow: 1px 1px 1px 1px lightblue;
    
    }

}
form{
    //width: 30vw;
    margin: auto;
    justify-self: center;
    margin: auto;

}

.row{
    margin: auto;
    background-color: lightgrey;
    border-radius: 4px;
    border: ridge;
    box-shadow: 2px 2px 2px 2px #ffffff;
    @media only screen and (min-width:882px) {
        width: 50vw;
    }
    
}
button{
    width: 100%;
}
.form-control{
    box-shadow: none;
    border-left: none;
    border: 2px 2px 2px 0px solid black;
    box-shadow: 0px 2px lightgray;
    
    &:focus{
        box-shadow: 1px 1px 1px 1px lightblue;
       // box-shadow: none !important;
       &:active{
           border: none !important;
           box-shadow: none !important;
       }
    }
}
// .input-group{
//     border: 2px solid black;
//     box-shadow: 0px 2px lightgray;
//     &:focus-within{
//         border: 2px solid lightblue;
//         box-shadow: 1px 1px 1px 1px lightblue;

// }
// }
.invalid-feedback{
    display:none;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip{
    display: block;
}
body{
    background-image: linear-gradient(to right,  burlywood, lightgrey);
    color:black;
}